
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Denk One', sans-serif;
    
    box-sizing: border-box;
}

:root {
    --648: brown;
  }
/*
FONT

font-family: 'Anton', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Alatsi', sans-serif;
font-family: 'Denk One', sans-serif;
coment vails
BLUE background-color:  #cbe3f3;
*/

/*----------------------------*/
.nav {
    
    height: 100px;
    background-color:  #07263a;
    background: linear-gradient(to bottom, #0c4164, rgba(0, 0, 0, 0));
    position: fixed;
    width: 100%;

    top: 0;
    left: 0;
    z-index: 9;
}

.logo-home {
    position: fixed;
    top: 3%;
    left:3%;
    background-color: white;
    border-radius: 50%;
    z-index: 10;
    opacity: 0.6;
    transform: rotate(340deg);
    animation: rotateStart 3s;
    transition: 0.3s;

}

@keyframes rotateStart {
    0% {
        opacity: 0;
    } 
    50% {
        transform: rotate(250deg);
        opacity: 0;
    } 
    100% {
        transform: rotate(340deg);;
        opacity: 0.6;
    }
    
}

.logo-home:hover{
    opacity: 0.7;
    transform: rotate(350deg);
    transition: 0.3s;
}

.image-logo-home{
    height: 120px;
    width: 120px;
}


/*menu icon*/

.menu-icon-container {
    
    position: fixed;
    top: 5%;
    right: 5%;
    display: inline-block;
    z-index: 10;
    animation: appearFromRight 2.4s;
    opacity: 0.7;
    width:min-content;
    

}

@keyframes appearFromRight {
    0% {
        transform: translate(250px,0);
    } 
    70% {
        transform: translate(250px,0);
    } 
    100% {
        transform: translate(0,0);
    }
    
}

.menu-icon-container:hover{
    opacity: 0.9;
}

.bar1, .bar2, .bar3 {
    cursor: pointer;
    width: 36px; /*proporcionales*/
    height: 6px;/*proporcionales*/
    background-color: rgb(255, 255, 255);
    margin: 6px 0;/*proporcionales*/
    transition: 0.6s;
    margin-left:auto;
    margin-right: 0;
}


.change .bar1 {
    
    background-color: rgba(255, 255, 255, 0.712);
    transform: rotate(45deg);
    transform: translate(0,12px) rotate(45deg);

  }
  .change .bar2 {
    width: 0;
    background-color: rgba(255, 255, 255, 0.712);

  }
  .change .bar3 {
    transform: translate(0,-12px) rotate(-45deg);
    background-color: rgba(255, 255, 255, 0.712);

  }


.menu-container-items{
    visibility: hidden;
    width: 100%;
    /*background-color: rgba(250, 128, 114, 0.466);*/
    background-color: rgba(70, 69, 69, 0.952);
    
}

.menu-links{
    text-decoration: none;
    color: black;
    width:100%;
    font-size: 30px;
}

.menu-links:hover{
    color: rgba(31, 18, 18, 0.877);
    transition: 0.2s;
    
}


.change .menu-container-items {
    visibility: visible;
    animation: displayDown 0.6s;
    height: 400px;
    width:540px;
    transform: translate(0,0px);
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

@keyframes displayDown {
    0% {
        height:0;
    } 
    70% {
        height:0;
    } 
    100% {
        height:300px;
    }
    
}


.change .menu-container-items .menu-categorias{
    
    padding-left: 10%;
    
    
    
    position: inherit;
    width:max-content;
    height:min-content;
    overflow: hidden;
    animation: appear 0.7s;
    
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content:space-between;

    

    
}



@keyframes appear {
    0% {
        opacity: 0;
    } 
    50% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
    
}

/*
.menu-icon-container::before{
    content: "";
    position: absolute;
    top: 10px;
    right:0;
    width: 100%;
    height: 10px;
    background-color: pink;
    transition: width 2s;
    
}

.menu-icon-container:hover::before{
    width: 300px;
    right: 0;
}
*/

/* END MENU ICON*/







/*BANNER*/

.banner{
    height:min-content;
    background-color: #07263a;
}

.banner img{
    
    width: 100%;
    height: 60%;
}

.banner-title {
    font-size: 50px;
    color: rgb(185, 185, 185);
    padding-left: 10%;
    animation: shine 2s;

    
}



@keyframes shine {
    0% {
        color: #07263a;
    } 
    50% {
        color: white;
    } 
    100% {
        color: rgb(185, 185, 185);
    }
    
}

/*  c a r d s */

.destacados {
    position: relative;
    background-color: black;
    padding-bottom: 60px;
    padding-top: 50px;
}

.card-container{
    background-color: black;
    display: grid;
    justify-content: center;
    gap: 5px;
}


@media (min-width: 700px) {
    .card-container{
        grid-template-columns: auto auto;
    }
}   

@media (min-width: 1050px) {
    .card-container{
        grid-template-columns: auto auto auto;
    }
}   

@media (min-width: 1400px) {
    .card-container{
        grid-template-columns: auto auto auto auto;
    }
}   

@media (min-width: 1750px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto;
    }
}   

@media (min-width: 2100px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto auto;
    }
}   

@media (min-width: 2450px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto auto auto;
    }
}

.card {
    height: 420px;
    width: 340px;
    background: grey;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0.7;
    
   
}

.card:hover {
    box-shadow: 0 0 10px 1px white;
    opacity: 1;

}

.new-card{
    animation-name: slideUp;
    animation-duration: 1s;
    animation-duration: 1s;
    visibility: visible;
}


@keyframes slideUp {
    0% {
      opacity: 0;
      
    } 
    100% {
      opacity: 1;
    }
  }

.card-image{
    width: 100%;
    object-fit:cover;
    
  /*
    object-fit:fill;  
    object-position: center;
    margin: 0 auto;*/
}

.card-image:hover{
    transform: scale(1.02);
    transition: 0.2s;
}


.footer-container    {
    height: 300px;
    background-image: linear-gradient(to top, #0c4164, black);
    display: flex;
   
}

.footer-left{
    padding-left: 8%;
    border-left: 25px solid rgb(189, 189, 189);
    margin-top: auto;
    margin-bottom: 3%;
    height: fit-content;
    

}

.footer-right{

}

.footer-t{
    color: white;
    font-size: 36px;
}

.footer-p{
    color: white;
    font-size: 32px;
}

.footer-container-logos{
    display: flex;
    
}

.footer-container-logos img{
    height: 50px;
    width: 50px;
    color: white;
}



/* GENERAL RESPONSIVE MOBILE */



@media (max-width: 648px) {

    .change .menu-container-items {
        
        width:250px;
        height:230px;
    
    }
    

    .banner-title {
        font-size: 30px;
    }   

    .image-logo-home{
        height: 80px;
        width: 80px;
    }

    .menu-container-items{ /*links*/
        background-color: rgba(70, 69, 69, 0.952);
        
    }
    .menu-links{
        
        font-size: 18px;
    }

    .footer-t{

        font-size: 24px;
    }
    
    .footer-p{
        
        font-size: 20px;
    }

    @media (max-width: 400px) {
        .banner-title {
            font-size: 22px;
        } 
         
        .image-logo-home{
            height: 60px;
            width: 60px;
        } 
    
       
    }
}

