
* {
    margin: 0;
    padding: 0;
}



/* Using the border-radius property 

BLUE background-color:  #cbe3f3;

to draw the semi-circle*/

.main-container {
    height: 360px;
    width: 360px;
    position: relative;
    margin: 0 auto;
    background-color: white;
    margin-top: 13vh;
}

.circle-container {
    position: absolute;
    top:0;
    left:0;
    height: 360px;
    width: 360px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.circle-container2 {
    position: absolute;
    top:0;
    left:0;
    height: 360px;
    width: 360px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.image {
    animation: rotar 2.5s;
}


.white-circle {
    position:relative;
    background-color: white;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    animation: fadeout 4s;
    animation-fill-mode: forwards;      
}

@keyframes rotar {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

@keyframes fadeout {
    0% {opacity: 1;}
    55% {opacity: 1;}
    100% {opacity: 0;}
}


